<section>
   <a href="">
      <div style="background-image: url({{gameCover}});" class="img-game">
         <span class="exclusive">{{tagEspecial}}</span>
      </div>
      <div class="info-container">
         <h1>{{nameGame}}</h1>
         <div class="info">
            <div>
               <span>{{typeGame}}</span>
               <span> | </span>
               <span class="console">{{console}}</span>
            </div>
            <div class="price">R$ {{price}}</div>
         </div>
      </div>
   </a>
</section>