header{
   background-color: #fff;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
   position: fixed;
   z-index: 1;
   width: 100%;
}
.space{
   height: 100px;
}
header .center{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
}
ul{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 15px;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
   color: black;
   font-weight: bold;
   border-bottom: 2px solid black;
}
img{
   width: 190px;
   height: auto;
}